
<div class = "row">
  <div class= "text-center">
  <% if current_user %>
    <%= link_to "add a new team", new_team_path, class: 'btn btn-primary' %>
  <% end %>
  
</div>
 
  <div class="col-sm-10 col-sm-offset-1 col-xs-12 event-content">
    <% @teams.each do |team| %> 
    <div class="col-md-4">
    <%= display_poster_with_link(team) %><br>
    <div class = "text-center text-info">
    <%= team.team_name %>
    </div>
    </div>
    <% end %>
  </div>
</div>