<% provide(:title, "Teams") %>
<div class = "row">
  <div class= "text-center">
  <% if current_user %>
    <%= link_to "add a new team", new_team_path, class: 'btn btn-primary' %>
  <% end %>
  
</div>
 
  <div class="col-md-10 col-md-offset-1 teams">
    <% @teams.each_slice(3) do |teams| %> 
      <div class= "row">
        <% teams.each do |team| %>
          <div class= "col-md-4">
            <div img-responsive center>
              <%= display_poster_with_link(team) %>
            </div>
            <div class = "text-center text-info ">
            <%= team.team_name.humanize.gsub(/\b('?[a-z])/) { $1.capitalize } %>
            </div> 
          </div>
        <% end %> 
      </div>
    <% end %>
  </div>
</div>
   