<div id="masonry-container" class="transitions-enabled infinite-scroll clearfix">
  
  <div class="carousel slide intro-slider" data-ride="carousel">
    <div class="item active">
      <div class="fill" style="background: url(<%=@articles[2].picture.url(:large) %>) no-repeat">
      
   
      
      
      <div class= "carousel-caption" id="master_event_bottom">
         <h4> <%= @articles[3].content.truncate(140) %></h4>
         

      </div>
    </div>
  </div>  
</div>