<% provide(:title, "edit#{@announcement.title}") %>
<div class="container text-left" id="edit_announcement">
  <div class = "row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class= "panel-heading">
          <h1>Editing <%= @announcement.title %></h1>
        </div>
        <div class = "panel-body">
          <%= render 'form', announcement: @announcement  %>
        </div>
		    <div class= "panel-footer">
        <%= link_to 'Cancel', @announcement %> 
        </div>
		  </div>  
    </div>
  </div>
</div>