<% provide(:title, "announcments") %>
<div class="container" id:"show_announcement" >
  <div class="row announcment_comments">
    <div class= "col-md-10 col-md-offset-1">
      <% @announcements.each do |announcement| %>
        <h1><%= link_to announcement.title, announcement %></h1>
        <h2><%= announcement.sub_title %></h2>
        <% if announcement.sticky == true %> 
          <h4> Feature Post</h4>
        <% end %>
        <p>
          <%= link_to 'An an Other Announcement', new_announcement_path, class: "btn btn-primary" %> <br>
        </p>
      <% end %>
      </div>
    </div>
  </div>
</div>

