<% provide(:title, "New Announcement") %>
<div class="container text-left" id="newpath">
  <div class = "row">
    <div class="col-md-8 col-md-offset-2">
       <div class="panel panel-default">
          <div class= "panel-heading">
            <h1>New Announcement</h1>
        </div>
        <div class = "panel-body">
          <%= render 'form', announcement: @announcement %>
        </div>
			  <div class= "panel-footer">
        <em class="text-info">May the force be with you!</em>
       </div>
		  </div>  
    </div>
  </div>
</div>