<div class= "container">
  <div class= "row">
    <div class= "col-md-offset-2 col-md-8">
      <h4 class= "text-primary text-center">
        Rocky Mountain Nostalgia Funny Car Association Points system 
      </h4>
      <h5 class= "text-primary text-center">
        Chicago style
      </h5>
      <p>
        10 entering for the weekend (not for both days)</br>
        10 for losing your round</br>
        15 for being closest to the index in your race</br> 
        20 for being the closet to index per round (awarded to the 1 car closest to index)</br>
        10 for losing final 20 points for winning final
      </p>
      <h5>
        Examples of Total Points Earned
      </h5>
      <div>
        <ol>
          <li>
            Loser both rounds</br>
            10 +10+10=30
          </li>
          <li>
            Loser one round winner one round</br>
            10+10+15=35
          </li>
          <li>
            Winner both rounds but not in final (ie: not one of two closest to dial runs in either round)</br>
            10+15+15= 40 points
          </li>
          <li>
            Loser one round won one round w/closest to index and lose final</br>
            10+10+20+10 =50
          </li>
          <li>
            Winner one round, closest to index for round two and in final but lose race</br>
            10+15+20+10= 55
          </li>
          <li>
            Loser one round winner one round w/closest to index and win final</br>
            10+10+20+20= 60
          </li>
          <li>
            Full pull but lose final</br>
            10+20+20+10=60
          </li>
          <li>
            Full pull (win + win closest to index and win final)</br>
            10+20+20+20=70
          </li>
        </ol>
        <p>
          Maximum total two race weekend </br>
          Day one 10+20+20+20=70 (day two) +20+20+20= 130</br>
          Minimum total two race weekend </br>
          10+10+10 =30 (day two) +10+10=50 points (providing they make four runs)</br>
          Remember only 10 entering points total for weekend for Chicago style</br>
        </p>
        <p>
          Qualifying and Eliminations race </br>
          (All cars receive 10 points for attending)</br>
          " 20 for not qualifying (includes 10 points for attending and 10 for not qualifying but making at least one qualifying pass) </br>
          " 40 for qualifying (round one loser) (plus qualifying points and any bonus points)</br>
          " 60 for semi finish (round two loser) (plus qualifying points and any bonus points)</br>
          " 90 for r/u (plus qualifying points and any bonus points)</br>
          " 120 winner (plus qualifying points and any possible bonus points)</br>
        </p>
      </div>
      <p>
        Qualifying points</br>
        #1 = 10</br>
        #2 = 8</br>
        #3 = 6</br>
        #4 = 5</br>
        #5 = 4</br>
        #6 = 3</br>
        #7 = 2</br>
        #8 = 1</br>
      </p>
      <p>
        Bonus points: closest to index 10 points bonus top mph 5 points bonus (in elims only, can be on a winning or loosing run)
      </p>
      <p class="text-left">
       Examples of Total Points Earned:
      </p>
      <p class="text-left">
        Max for weekend 145 points (if you win the race and are closest to index and run top mph and #1 qualifier)</br>
        Minimum if you don't qualify (IE: more than 8 cars) =20 pts, if you qualify and lose 1st round =40 pts plus qualifying points</br>


      </p>
      
    </div>
  </div>
</div>