<% provide(:title, "Edit #{@race_schedule.details}") %>
<div class="container text-left">
  <div class = "row">
    <div class="col-md-8 col-md-offset-2">
       <div class="panel panel-default">
          <div class= "panel-heading">
            <h1>Edit <%= @race_schedule.details %></h1>
        </div>
        <div class = "panel-body">
          <%= render 'form', race_schedule: @race_schedule %>
        </div>
			  <div class= "panel-footer">
          <em class= "text-muted"> Take me to the Races. It's event time! </em>
        </div>
		  </div>  
    </div>
  </div>
</div>