<% provide(:title, "New Race") %>
<div class="container text-left" id="newpath">
  <div class = "row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class= "panel-heading">
          <h1>New Race</h1>
        </div>
        <div class = "panel-body">
          <%= render 'form', race_schedule: @race_schedule %>
        </div>
			  <div class= "panel-footer">
         <em class= "text-muted"> Take me to the Races. It's event time! </em>
        </div>
		  </div>  
    </div>
  </div>
</div>

