<div>
  <%= @articles.each do |article| %>
      link_to image_tag(article.image.url(:slider)), article 
       <%= link_to 'Delete', article, method: :delete, data: { confirm: "Are you sure?" } %>  
      
  <% end %>
</div>