<div class="container text-left" id="edit_article">
  <div class = "row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class= "panel-heading">
          <h1>Editing <%= @article.title %></h1>
        </div>
        <div class = "panel-body">
          <%= render 'form', article: @article  %>
        </div>
		    <div class= "panel-footer">
        <%= link_to 'Cancel - Show Greeting', @article %> 
        
        </div>
		  </div>  
    </div>
  </div>
</div>