<div>
  <div class = "row text-left announcement_comments">
    
    <div class= "col-md-10 col-offset-right-2">
      <h1> Welcome to the Rocky Mountain Floppers </h1>
      <h2 class= "text-primary"> The 2017 Season is here!</h2>
      
      <p> 
      We are starting off the season with a new look. Winter is over. It's time for summer and our 2017 Season is well underway. 
      The race season is here. There are a number of Alberta racers competing this year.
    
      </p>
      You may have noticed we have a new website. Stay tuned as we keep adding more. 
      </p>
     
      <p>We'll be posting updates to events and keeping us up to date on activities this year.
      </p>
      <hr class = "primary">
    </div>
  </div>
  
</div>
