<div class= "row container">
  
    
      <%= render "announcement_details" %>
      <%= render "more_announcements" %>

      <% if @announcements.count > 3%>
        <%= link_to "see all announcements", announcements_path %> 
      <% end %>
      
</div>   
  
  



    
 