<% @news_feeds.each do |news_feed| %>

<div class = "row">
  <div class = "col-md-offset-2 col-md-8">
    <p>
      <%= news_feed.created_at.strftime("%F") %>
    </p>
    <p> <%= news_feed.content %></p>
    <p> 
    <%= image_tag news_feed.picture.url if news_feed.picture %>
    </p>
  </div>
</div>

<% end %>