

<div class = "social-links"> 
  <%= link_to "https://www.facebook.com/RockyMountainNostalgiaFunnyCars?fref=ts" do %>
   <i class="fa fa-facebook-square fa-4x" > </i>
  <% end %>
  <%= link_to "https://www.youtube.com/channel/UCbhbAoakAgslJWmZYiTvn0w" do %>
   <i class="fa fa-youtube-square fa-4x" > </i>
  <% end %>
</div>