<%= provide(:keywords, "rockymountainflappers.com, rockymountainflappers, flappers, rockymountain, funnycars, rockymountainnostalgiafunnycars.com, rockymountainnotaslgiafunnycars") %>
<div class= "row text-center">

    <%= render 'layouts/slider' %>
         
</div>
<div class= "row text-center"> 
	<div class= "col-md-offset-1 col-md-10" >
		<%= render "announcements" %>

	</div>
	<hr class = "primary">
</div>
		<%= render  "news_feed" %> 
	



