<%= provide(:keywords, "rockymountainflappers.com, rockymountainflappers, flappers, rockymountain, funnycars, rockymountainnostalgiafunnycars.com, rockymountainnotaslgiafunnycars") %>
<div class= "row text-center">

    <%= render 'layouts/slider' %>
         
</div>
<%= render "announcements" %>
<%= render  "news_feed" %> 




