<%= provide(:keywords, "rockymountainflappers.com, rockymountainflappers, flappers, rockymountain, funnycars, rockymountainnostalgiafunnycars.com, rockymountainnotaslgiafunnycars") %>
<div class= "text-center" id="container">

    <%= render 'layouts/slider' %>
   <%= render "welcome/news_feed" %>
   
    
</div>


