<p>
  <%= event_team.race_schedule.title.upcase %> <%= event_team.team.name %>
  <%= link_to "Remove Team", [event_team.race_schedule, event_team]
        method: :delete, 
        data: {confirm: 'Are you sure?' } %>
  <% end %>
</p>