<div class="container text-left">
  <div class = "row">
    <div class="col-md-8 col-md-offset-2">
       <div class="panel panel-default">
          <div class= "panel-heading">
            <h1>Edit Results</h1>
        </div>
        <div class = "panel-body">
          <%= render 'edit_form', team_info: @team_info %>
        </div>
			  <div class= "panel-footer">
          <em class= "text-muted"> Go go gadget go!! </em>
        </div>
		  </div>  
    </div>
  </div>
</div>
