<% provide(:title, "Edit #{@sponsor.company_name}") %>
<div class="container text-left" id="newpath">
  <div class = "row">
    <div class="col-md-8 col-md-offset-2">
       <div class="panel panel-default">
          <div class= "panel-heading">
            <h1>Edit <%= @team.company_name %></h1>
        </div>
        <div class = "panel-body">
          <%= render 'form', sponsor: @team %>
        </div>
			  <div class= "panel-footer">
         <em class = "text-info">All we need is love</em>
       </div>
		  </div>  
    </div>
  </div>
</div>