<% @sponsors.each do |sponsor| %>
  <div>
    <%= link_to href: sponsor.web_site do %>
      <span class= "logo img-responsive center-block">
        <%= image_tag sponsor.picture.url %>
        <% if current_user %>
        <%= link_to "View or Edit", sponsor %>
      </span>
    <% end %>
<% end %> 