<div class = "container">
<% @photos_2012.each do |news_feed| %>
  <% if news_feed.title == "2012" %>
    <%= link_to image_tag(news_feed.picture.url(:thumb)), news_feed %>
  <% end %>

<% end %> 

</div>