<div class = "container">
<% @photos_2011.each do |news_feed| %>
  <% if news_feed.title == "201" %>
    <%= link_to image_tag(news_feed.picture.url(:thumb)), news_feed %>
  <% end %>

<% end %> 

</div>