body {
     height: 100%;
     color: #FFF;
     background-color: #000;
     
}

a { 
    color: $danger;
}

.text-primary {
    color: $primary;
}

.text-info {
    color: $info;
}
html {
    height: 100% !important;
    -ms-overflow-style: scrollbar;
}

#wrapper {
    height: 100%;
    width: 100%;
}

img {
    -webkit-backface-visibility: hidden;
    width: auto\9;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}

section,
aside {
    padding: 30% 0;
}

@media(min-width:767px) {
    section {
        padding: 30% 0 2% 0;
    }
}

.well {
    border: none;
    box-shadow: none;
    background-color: darken($light, 3%);
}

.jumbotron {
    background-color: lighten($light, 3%);
}

.page-header {
    border-bottom-color: darken($light, 10%)
}

.img-light-border {
    border: 5px solid $light;
}

.img-dark-border {
    border: 5px solid $dark;
}

.light-faded-border {
    border: solid 15px fade($light, 50%);
}

.dark-faded-border {
    border: solid 15px fade($dark, 50%);
}

.img-centered {
    margin: 0 auto;
}

.nopadding {
    padding: 0;
}

.nomargin {
    margin: 0;
}

.padding-top {
    padding-top: 100px;
}

.padding-bottom {
    padding-bottom: 100px;
}

//Highlight Color Customization 

::-moz-selection {
    text-shadow: none;
    background: fade($primary, 50%);
}

::selection {
    text-shadow: none;
    background: fade($primary, 50%);
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

body {
    webkit-tap-highlight-color: fade($primary, 50%);
}

.panel {
    color: $dark;
}

// Owl Carousel Color Overrides

.owl-theme .owl-controls .owl-page span {
    background: darken($light, 15%);
}

.owl-theme .owl-controls .owl-buttons div {
    background: darken($light, 15%);
}

.banner_title {
    @include text-shadow-dark;
}

ul.ui-autocomplete {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #999;
  cursor: default;
  li {
    background-color: #FFF;
    border-top: solid 1px #DDD;
    margin: 0;
    padding: 0;
    a {
      color: #000;
      display: block;
      padding: 3px;
    }
    a.ui-state-hover, a.ui-state-active {
      background-color: #FFFCB2;
    }
  }
}