


.footer {
  .upper {
    padding: 50px 0;
    color: $light;
    background-color: $dark;
    opacity: 0.5;
    p {
      color: fade($light);
      a { color: $info;
        &:hover {
          color: $primary;
        }
      }
    }
    h4 {
     
      font-family: 'Bungee Outline', cursive;
    }
    
    h5 {
      font-size: 1.3em;
    }
    .footer-links {
      li { 
        padding-bottom: 10px;
        a { color: $info;
        &:hover {
          color: $primary;
        }
    }
  }
  

  
} 
  }
  .lower {
    padding: 15px 0;
    background-color: darken($dark, 20%);
    .small {
      color: fade($light, 70%);
    }
  }
}

@media(max-width: 990px) {
  .footer {
    text-align: center;
  }
}