.footer {
  .upper {
    padding: 50px 0;
    color: $light;
    background-color: $dark;
    opacity: 0.5;
    p {
      color: fade($light);
    }
    h2 {
      padding-bottom: 10px;
      padding-top: 25px;
    }
    .footer-links {
      li { 
        padding-bottom: 10px;
        a { color: $light;
        &:hover {
          color: $primary;
        }
    }
  }
  

  
} 
  }
  .lower {
    padding: 15px 0;
    background-color: darken($dark, 20%);
    .small {
      color: fade($light, 70%);
    }
  }
}