.simple_navbar .navbar-nav {
  font-family: 'Faster One', cursive;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: transparent;
  
  
  .sign_in a {
    color: $warning;
  }
  li > a {
      color:$primary;
    
  }
  
}

@media (min-width: 768px) {
  
  .simple_navbar .navbar-nav {
    font-size: 20px;
    padding: 20px 0;
  }
  
}
