.simple_navbar .navbar-nav {
  font-family: 'Average Sans', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  
  background: transparent;
  
  
 
  li > a {
      color:$light;
      &:hover,
        &:focus,
        &:active {
            color: $warning;
            outline: none;
            background-color: transparent;
        }
        &:hover::after,
        &:focus::after {
            opacity: 1;
            -webkit-transform: translateY(0px);
            -moz-transform: translateY(0px);
            transform: translateY(0px);
        }        

  }
  
  .nav>li>a:hover,
  .nav>li>a:focus {
      background-color: fade($light, 50%);
  }

  
}

.simple_navbar.top-nav-collapse {
   border-bottom: 1px solid darken($dark, 5%);
  background-color: $dark;
}

.navbar-collapse.in {
    overflow-y: visible;
}


@media (min-width: 768px) {
  
  .simple_navbar .navbar-nav {
    font-size: 16px;
    padding: 20px 0;
    
    .nav {
            li {
                a {
                    color: $light;

                    &:after {
                        background: $warning;
                        }
                    &:hover,
                    &:focus,
                    &:active {
                        color: $warning;
                    }
                }
                
            }
  
    }
  
  
}
 
}

.simple_navbar.top-nav-collapse {
  
	border-bottom: 1px solid;
	border-color: #000;
	background-color: #000;
}
