// Place all the styles related to the race_schedules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.#5484ed {
  color: #5484ed; // Bold Blue
  .table > thead > tr > th, 
  .table > thead > tr > td, .table > tbody > tr > th, 
  .table > tbody > tr > td, .table > tfoot > tr > th, 
  .table > tfoot > tr > td {
      color: #5484ed; // Bold Blue
    }
  }
.#a4bdfc {
  color: #a4bdfc; //Blue
  .table > thead > tr > th, 
  .table > thead > tr > td, .table > tbody > tr > th, 
  .table > tbody > tr > td, .table > tfoot > tr > th, 
  .table > tfoot > tr > td {
      color: #a4bdfc; // Bold Blue
    }
  }
.#46d6db {
  color: #46d6db; // Turquoise
  .table > thead > tr > th, 
  .table > thead > tr > td, .table > tbody > tr > th, 
  .table > tbody > tr > td, .table > tfoot > tr > th, 
  .table > tfoot > tr > td {
      color: #46d6db; // Bold Blue
    }
  }
.#51b749 {
  color: #51b749; // Bold Green
  .table > thead > tr > th, 
  .table > thead > tr > td, .table > tbody > tr > th, 
  .table > tbody > tr > td, .table > tfoot > tr > th, 
  .table > tfoot > tr > td {
      color: #51b749; // Bold Blue
    }
  }
.#7ae7bf {
  color: #7ae7bf; // Green
  .table > thead > tr > th, 
  .table > thead > tr > td, .table > tbody > tr > th, 
  .table > tbody > tr > td, .table > tfoot > tr > th, 
  .table > tfoot > tr > td {
      color: #7ae7bf; // Bold Blue
    }
  }
.#fbd75b {
  color:#fbd75b; // Yellow
  .table > thead > tr > th, 
  .table > thead > tr > td, .table > tbody > tr > th, 
  .table > tbody > tr > td, .table > tfoot > tr > th, 
  .table > tfoot > tr > td {
      color:#fbd75b; // Bold Blue
    }
  }
.#ffb878 {
  color: #ffb878; // Orange
  .table > thead > tr > th, 
  .table > thead > tr > td, .table > tbody > tr > th, 
  .table > tbody > tr > td, .table > tfoot > tr > th, 
  .table > tfoot > tr > td {
      color: #5484ed; // Bold Blue
    }
  }.
.#ff887c {
  color: #ff887c; // Pink
  .table > thead > tr > th, 
  .table > thead > tr > td, .table > tbody > tr > th, 
  .table > tbody > tr > td, .table > tfoot > tr > th, 
  .table > tfoot > tr > td {
      color: #ffb878; // Bold Blue
    }
  }.
.#dc2127 {
  color: #dc2127; // Bold Red
  .table > thead > tr > th, 
  .table > thead > tr > td, .table > tbody > tr > th, 
  .table > tbody > tr > td, .table > tfoot > tr > th, 
  .table > tfoot > tr > td {
      color: #dc2127; // Bold Blue
    }
  }.
.#dbadff {
  color: #dbadff;  // Purple
  .table > thead > tr > th, 
  .table > thead > tr > td, .table > tbody > tr > th, 
  .table > tbody > tr > td, .table > tfoot > tr > th, 
  .table > tfoot > tr > td {
      color: #dbadff; // Bold Blue
      }
    }
.#e1e1e1 {
  color: #e1e1e1 ; // Gray
  .table > thead > tr > th, 
  .table > thead > tr > td, .table > tbody > tr > th, 
  .table > tbody > tr > td, .table > tfoot > tr > th, 
  .table > tfoot > tr > td {
      color: #e1e1e1 ; // Gray
    }
  }

        
