@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "headers";
@import "hover.min";
@import 'owl.carousel';
@import 'owl.theme';

//colors
$dark: #000000;
$light: #FFFFFC;
$primary: #E6CF20;
$success: #CB8D2C;
$warning: #D00120;
$info: #B3D6F2;

body {
background: black;
color: #fff;
}

.logo {
  img {
    max-width: 100%; 
    height: auto;
    display: block;
    
  }
}

.simple_navbar .navbar-nav {
  font-family: 'Cantarell', sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  
  .sign_in a {
    color: $warning;
  }
  li > a {
      color:$primary;
    
  }
}

.content {
  padding-top: 350px;
}

.brand {
  padding-top: -5%;
  margin-top: -5%;
  padding-bottom: -10%;
  margin-bottom: -10%;
}

.carousel-inner > .item > img {
  max-width: 700px;
  max-height: 350px;
}

.sponsors {
  img {
    max-width: 100%; 
    height: auto;
    display: block;
    margin: 5%;
    
  }
}
.footer {
  background-color: #f4f5f7;
  opacity: 0.5;
  letter-spacing: 2px;
  padding: 1%;

  a {
    color: $warning;
  }
  .fa {
    color: blue;
  }
}




@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}