<div class= "col-md-offset-1 col-md-10 teams">
<% @team.team_pictures.each_slice(2) do |team_pictures| %>
  <div class= "row">
    <% team_pictures.each do |team_picture| %>
      <div class= "col-xs-6 img-responsive center logo">
        <div class= "img-responsive center">
          <%= image_tag team_picture.picture_url unless team_picture.picture.blank? %>
          <br>
          <% if current_user %>
             <%= link_to "Delete Team Picture", [team_picture.team, team_picture], method: :delete, data: { confirm: 'Are you sure?' } unless team_picture.picture.blank? %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %> 
</div>

  
  
