
<div class = "col-md-6">
 <%= image_tag team_picture.picture.url if team_picture.picture? %>

 <%= link_to "delete", team_picture, method: :delete,
                                       data: { confirm: "You sure?" } %>
                                       
</div>