<% provide(:title, "2017 News Feeds") %>
<div class = "container">
<%= image_tag "year2017.jpg" %>
<% @news_feeds.each do |news_feed| %>
<%= link_to image_tag(news_feed.picture.url(:thumb)), news_feed %>

<% end %> 

<div>
  TEMPORARY TEST
  <% @news_feeds.each do |news_feed| %>
  <% if news_feed.title != 2010 || 2011 || 2012 || 2013 || 2014 || 2015 ||
  2016 %>
  <%= news_feed.title %>  <%= news_feed.id %>
  <br>
  <% end %>
  <% end %>
</div>

</div>