<div class="container text-left" id="newpath">
  <div class = "row">
    <div class="col-md-8 col-md-offset-2">
       <div class="panel panel-default">
          <div class= "panel-heading">
            <h1>New Post</h1>
            <h4>Each Post Requires a Picture</h4>
        </div>
        <div class = "panel-body">
          <%= render 'form', news_feed: @news_feed %>
        </div>
			  <div class= "panel-footer">
         <em class= "text-primary"> Your audience awaits!</em>
       </div>
		  </div>  
    </div>
  </div>
</div>