
        <h2> Team "Funny" Facts</h2>
          <% @team.team_infos.each do |team_info| %>
            <p><span class="text-primary"><%=team_info.topic_name %>  </span><%= team_info.body %></p>
          <% end %>
        