<footer>
<div class="footer navbar-fixed-bottom">
  
    <div id="container">
    <div class="row text-muted">
     
      <div class="col-md-12 text-center">
          
          Phone: Cal Teb at 780 499-6179 ~~~
          <a href="mailto:caltebb@hotmail.com">Email Call Tebb</a> ~~~
          <a href="mailto:joey@joeysplace.com">Email Joey</a> ~~~
    
            Find us on 
            <%= link_to "https://www.faceboo.com/RockyMountainNotalgiaFunnyCars" do %>
             <i class="fa fa-facebook-square fa-2x" > </i>
            <% end %>
      </div>
      
    </div>

</div>
</footer>