<div class= "container ">
  <a class= "navbar-brand" href= "#page-top" <%= link_to root_path do %>
    <span class= "logo img-responsive center-block">
      <%= image_tag "rocky_logo.jpg" %>
    </span>
    <% end %>
  </a>
</div>

