<div class= "container brand">
 
    <span class= "logo img-responsive center-block">
      <%= link_to root_path do %>
        <%= image_tag "rocky_logo.jpg" %>
      <% end %>
    </span>
    
  
</div>

