

  <header id="myCarousel" class="carousel slide carousel-fade intro-slider" data-ride="carousel">

    <!-- Indicators -->
    
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class="fill" style="background-image: url('al.jpg');"></div>
      <div class="overlay"></div>
      <div class="carousel-caption">
        <div class="intro-body">
          
            <p class="intro-welcome">Creative Moments</p>
              <br>
              <h1 class="brand-heading">
                  A
                    <span class="text-primary">Creative</span>
                    <br>Place To be
                    <span class="text-primary"> Me</span>
              </h1>
              <br>
              
            <hr class="light">
            <div class="page-scroll" data-scrollreveal="enter bottom after .6s">
              <a href="#about" class="btn btn-scroll-light sink">
                  <i class="fa fa-angle-double-down"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      
      
        <div class="item">
        <div class="fill" style="background-image: url('joey.jpg');"></div>
        <div class="overlay"></div>
        <div class="carousel-caption">
          <div class="intro-body">
            
              <p class="intro-welcome">Great things</p>
            
            <br>
            <h1 class="brand-heading">
                A
                <span class="text-primary">Creative</span>
                <br>Driver Name
                <span class="text-primary">Event </span>
            </h1>
            <div id= "buttons" class= "row text-center">
              
              
            </div>
            <hr class="light">
            
            <div class="page-scroll" data-scrollreveal="enter bottom after .6s">
                <a href="#about" class="btn btn-scroll-light sink">
                    <i class="fa fa-angle-double-down"></i>
                </a>
            </div>
          </div>
        </div>
      </div>
     
      
      
        <div class="item">
        <div class="fill" style="background-image: url('joey.jpg');"></div>
        <div class="overlay"></div>
        <div class="carousel-caption">
          <div class="intro-body">
            
              <p class="intro-welcome">Hello</p>
            
            <br>
            <h1 class="brand-heading">
                A
                <span class="text-primary">Creative</span>
                <br>Great 
                <span class="text-primary">Energy</span>
            </h1>
            <br>
            <div id= "buttons" class= "row text-center">
              
              
            </div>
            <hr class="light">
           
            <div class="page-scroll" data-scrollreveal="enter bottom after .6s">
                <a href="#about" class="btn btn-scroll-light sink">
                    <i class="fa fa-angle-double-down"></i>
                </a>
            </div>
          </div>
        </div>
      </div>
      
       
      
      
        <div class="item">
          background-image: url('image.png')
        <div class="fill" style="background-image: url('shane.jpg'});"></div>
        <div class="overlay"></div>
        <div class="carousel-caption">
          <div class="intro-body">
           <p class= "intro-welcome"> Here</p>
            
            <br>
           
            <h1 class="brand-heading">
                An
                <span class="text-primary">Eclectic</span>
                <br>
                Blend of
                <span class="text-primary">Hot Spots</span>
            </h1>
            <br>
            <div id= "buttons" class= "row text-center">
              
            </div>
            <hr class="light">
            
            <div class="page-scroll" data-scrollreveal="enter bottom after .6s">
              <a href="#about" class="btn btn-scroll-light sink">
                  <i class="fa fa-angle-double-down"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      
     
    </div>
  </header> 
