<div class= "intro">
  
    <% if current_user %>
      <%= link_to "Post to Newsfeed", new_news_feed_path, class: "btn btn-primary" %>
    <% end %> 
    <div class= "col-md-10 col-md-offset-1 container">

        <div class="col-md-8">
          <%= render "carousel" %> 
          <div>
          
          </div>
        </div>
        
        
        <div class="col-md-4">
          <%= render "social_links" %>
          
          <%= render "sponsors" %>
          
       
        </div> 
    </div>
  
</div>
